<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>创建会议</title>

    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/office.css">
</head>

<body>
    <div class="office">
        <div class="weui-panel">
            <div class="office-time">
                <h4>预定会议信息</h4>
                <div class="row">
                    <div class="col-md-3">
                        <p style="text-align: right;">发起人:</p>
                    </div>
                    <div class="col-md-9">
                        <input type="text">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <p style="text-align: right;">参与人:</p>
                    </div>
                    <div class="col-md-9">
                        <input type="text">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <p style="text-align: right;">会议内容:</p>
                    </div>
                    <div class="col-md-9">
                        <textarea name="" id="" cols="30" rows="5"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="weui-panel">
            <div class="office-time">
                <h4>预约时段</h4>
                <div class="office-time-legend">
                    <div class="office-time-legend-item">
                        <div class="legend-img used"></div>
                        <div class="legend-text">可选</div>
                    </div>
                    <div class="office-time-legend-item">
                        <div class="legend-img disabled"></div>
                        <div class="legend-text">已预订</div>
                    </div>
                    <div class="office-time-legend-item">
                        <div class="legend-img checked"></div>
                        <div class="legend-text">已选</div>
                    </div>
                </div>
                <div class="office-time-con office-time-slot" id="timeSoltCon">
                </div>
            </div>
        </div>

        <div class="weui-btn-area">
            <a class="weui-btn weui-btn_main" href="javascript:;" id="submitOrder">提交</a>
        </div>

    </div>
    </div>

    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

    <script>
        $(function () {
            var str = ''
            for (let index = 9; index < 19; index++) {
                str += `<div class="office-time-item slot_" >` + index + `:00</div>`
                str += `<div class="office-time-item slot_" >` + index + `:30</div>`
            }
            $("#timeSoltCon").html(str)
        })
    </script>
</body>

</html>