<!DOCTYPE html>
<html lang="zh_CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>会议预定</title>


    <link rel="stylesheet" href="/static/css/office.css">
</head>

<body>
    <div class="office">
        <div class="weui-panel">
            <div class="office-time">
                <h4>最近5天</h4>
                <div class="office-time-con office-time-data" style="text-align: center;">
                </div>
            </div>
        </div>

        <div class="weui-panel">
            <div class="office-time">
                <h4>预约时段</h4>
                <div class="office-time-legend">
                    <div class="office-time-legend-item">
                        <div class="legend-img used"></div>
                        <div class="legend-text">可预定</div>
                    </div>
                    <div class="office-time-legend-item">
                        <div class="legend-img disabled"></div>
                        <div class="legend-text">已预订</div>
                    </div>
                </div>
                <div class="office-time-con office-time-slot" id="timeSoltCon">
                </div>
            </div>
        </div>

        <div class="weui-btn-area">
            <a class="weui-btn weui-btn_main" href="javascript:;" id="submitOrder">立即预约</a>
        </div>
    </div>

    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="/static/js/com.js"></script>
    <script>
        $(function () {
            var str = ''
            for (let index = 9; index < 19; index++) {
                str += `<div class="office-time-item slot_" >` + index + `:00</div>`
                str += `<div class="office-time-item slot_" >` + index + `:30</div>`
            }

            $("#timeSoltCon").html(str)

            getWebService("/date", function (data) {
                var str = '';
                for (let index = 0; index < data.length; index++) {
                    const element = data[index];
                    for (const key in element) {
                        if (element.hasOwnProperty(key)) {
                            const val = element[key];
                            console.log(key, val)
                            str += `<div class=" `
                            if (index == 0) {
                                str += `checked `
                            }
                            str += `office-time-item date_" val="` + val + `">` + key + `<span>` + val + `</span></div>`
                        }
                    }
                }

                $(".office-time-data").html(str)
            })
        })

        $("#submitOrder").on("click", function () {
            window.location.replace('/create')
        })
    </script>
</body>

</html>